body{
    width : 100vw;
    height: 70vh;
    background-image: url("https://static.vecteezy.com/system/resources/previews/024/232/274/non_2x/green-casino-poker-table-texture-game-background-free-vector.jpg");
    background-size: cover;
}

/*FFEDB0 h1
white for text
button shadow FFD000*/